name: Windows 2019

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-2019
    timeout-minutes: 360

    steps:
    - name: Checkout Repository Files
      uses: actions/checkout@v4

    - name: Connect to Tailscale
      shell: powershell
      run: |
        $dest = "$env:TEMP\tailscale-setup.exe"
        Invoke-WebRequest -Uri "https://pkgs.tailscale.com/stable/tailscale-setup-latest.exe" -OutFile $dest
        Start-Process $dest -ArgumentList "/quiet", "/norestart" -Wait
        & "C:\Program Files\Tailscale\tailscale.exe" up --authkey=${{ secrets.TAILSCALE_AUTH_KEY }} --hostname=github-head
        & "C:\Program Files\Tailscale\tailscale.exe" ip -4

    - name: Enabling access to RDP.
      run: |
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 1

    - name: Start Setup
      run: |
        # This runs the start.bat file you edited in your repo
        cmd /c start.bat

    - name: Start Loop
      run: |
        # This runs the loop.bat file you edited in your repo
        cmd /c loop.bat
