name: Windows 2019 Tailscale RDP

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-2019
    timeout-minutes: 360

    steps:
    - name: Getting Files Ready
      run: |
        # Removed ngrok download
        Invoke-WebRequest https://storage.curvee.eu.org/start-2019.bat -OutFile start.bat
        Invoke-WebRequest https://storage.curvee.eu.org/wallpaper.png -OutFile wallpaper.png
        Invoke-WebRequest https://storage.curvee.eu.org/wallpaper.bat -OutFile wallpaper.bat
        Invoke-WebRequest https://storage.curvee.eu.org/loop.bat -OutFile loop.bat

    - name: Setup Tailscale
      uses: tailscale/github-action@v3
      with:
        authkey: ${{ secrets.TAILSCALE_AUTH_KEY }}

    - name: Enabling access to RDP
      run: |
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 1
        copy wallpaper.png C:\Users\Public\Desktop\wallpaper.png
        copy wallpaper.bat C:\Users\Public\Desktop\wallpaper.bat

    - name: Get Tailscale IP and Run Loop
      run: |
        $tsIP = tailscale ip -4
        Write-Host "Your RDP IP is: $tsIP"
        cmd /c loop.bat
