name: Windows 2019 Tailscale RDP

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-2019
    timeout-minutes: 360

    steps:
    - name: Create Scripts Locally
      run: |
        # Create start.bat locally
        @'
        @echo off
        net config server /srvcomment:"Windows Server 2019 Tailscale" > nul
        REG ADD "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer" /V EnableAutoTray /T REG_DWORD /D 0 /F > nul
        net user administrator W2016 /add >nul
        net localgroup administrators administrator /add >nul
        net user administrator /active:yes >nul
        diskperf -Y >nul
        sc config Audiosrv start= auto >nul
        sc start audiosrv >nul
        echo RDP Address:
        tailscale ip -4
        echo Username: administrator
        echo Password: W2016
        '@ | Out-File -FilePath start.bat -Encoding ASCII

        # Create loop.bat locally
        @'
        @echo off
        :check
        sc query "Tailscale" | find "RUNNING" >nul
        if %errorlevel% neq 0 ( exit )
        timeout /t 30 >nul
        goto check
        '@ | Out-File -FilePath loop.bat -Encoding ASCII

    - name: Setup Tailscale
      uses: tailscale/github-action@v3
      with:
        authkey: ${{ secrets.TAILSCALE_AUTH_KEY }}

    - name: Enabling access to RDP
      run: |
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 1

    - name: Start RDP Configuration
      run: ./start.bat

    - name: Keep Alive Loop
      run: ./loop.bat
